%transition-base {
    backface-visibility: hidden;

    @media (prefers-reduced-motion: reduce) {
        animation-duration: 0.001s !important;
        transition-duration: 0.001s !important;
    }
}

%transition {
    @extend %transition-base;

    transition: all 150ms ease;
}

%transition--snappy {
    @extend %transition-base;

    transition: all 140ms ease;
}

%transition--slow {
    @extend %transition-base;

    transition: all 350ms ease;
}

%transition--super-slow {
    transition: all 800ms ease;
}

%transition--fill {
    @extend %transition-base;

    transition: fill 200ms ease;
}

%transition--crossfade-in {
    @extend %transition-base;

    transition: opacity 2000ms linear;
}

%transition--crossfade-out {
    @extend %transition-base;

    transition: visibility 0s 2000ms, opacity 2000ms linear;
}

%transition--slide {
    @extend %transition-base;

    transition: all 200ms cubic-bezier(0.59, 0.17, 0.24, 0.78);
}

%transition--delay-slide {
    @extend %transition--slide;

    transition-delay: 300ms;
}

%transition--slow-slide {
    @extend %transition-base;

    transition: all 800ms cubic-bezier(0.59, 0.17, 0.24, 0.78);
}

%transition--super-slow-fade {
    transition: all 2000ms ease;
}