.carousel {
    height: 100%;
    display: block;
    overflow-x: hidden;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;

    &__container {
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            opacity: 1;
            width: 260px;
            pointer-events: none;
            z-index: 2;

            @include media-breakpoint-up(xxxl) {
                width: 560px;
            }
        }

        &:before {
            left: 0;

            @include media-breakpoint-up(md) {
                background: linear-gradient(90deg, $grey-25 0, transparent 100%);
            }
        }

        &:after {
            right: 0;

            @include media-breakpoint-up(md) {
                background: linear-gradient(90deg, transparent 0, $grey-25 100%);
            }
        }

        &:focus-visible {
            outline: 0;
        }
    }
}
