.hamburger {
    $self: &;

    @extend %button-reset;

    display: flex;
    align-items: center;
    padding: $hamburger-padding-y $hamburger-padding-x;
    transition-property: opacity, filter;
    transition-duration: 150ms;
    transition-timing-function: linear;
    outline: none;

    @include media-breakpoint-up($navigation-breakpoint) {
        display: none;
    }

    @include hover(true) {
        outline: none;
    }

    &__box {
        width: $hamburger-layer-width;
        height: $hamburger-layer-width;
        display: inline-flex;
        justify-content: center;
        position: relative;
        border-radius: $hamburger-layer-width / 2;
        transition: all 0s ease 0s;

        #{$self}.is-active & {
            transition: border-color 150ms linear 200ms;
        }
    }

    &__inner {
        display: block;
        top: 50%;
        margin-top: $hamburger-layer-height / -2;
        transition-duration: 75ms;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        #{$self}.is-active & {
            transform: rotate(45deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

            &::before {
                top: 0;
                opacity: 0;
                transition: top 75ms ease, opacity 75ms 0.12s ease;
            }

            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 75ms ease, transform 75ms 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }

        &,
        &::before,
        &::after {
            width: $hamburger-layer-width;
            height: $hamburger-layer-height;
            background-color: $hamburger-layer-color;
            border-radius: $hamburger-layer-border-radius;
            position: absolute;
            transition-property: transform;
            transition-duration: 150ms;
            transition-timing-function: ease;

            #{$self}.is-active & {
                width: $hamburger-layer-width;
                background-color: $hamburger-active-layer-color;
            }
        }

        &::before,
        &::after {
            content: "";
            display: block;
        }

        &::before {
            top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
            transition: top 75ms 120ms ease, opacity 75ms ease;
        }

        &::after {
            bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
            transition: bottom 75ms 120ms ease, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }
}