<head>
    {% if env.RELEASE_ENV != 'dev' %}
        <script src="{{ env.COOKIE_FIRST_URL }}"></script>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include "components/meta.html" %}
    {% include "components/favicon.html" %}
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6959036/6896032/css/fonts.css" />
    <link rel="stylesheet" href="/assets/css/global.css?{% assetVersion %}" media="all">

    {% if env.RELEASE_ENV == 'production' %}
    <script src="{{ env.COOKIE_FIRST_URL }}"></script>

<!-- Google tag (gtag.js) -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M69P5DVQ');</script>
    <!-- End Google Tag Manager -->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-D39GYV958D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D39GYV958D');
</script>


    {% endif %}

    {% if env.RELEASE_ENV == 'staging' %}
    <script src="{{ env.COOKIE_FIRST_URL }}"></script>

        <script>
            window.markerConfig = {
                project: '{{ env.MARKER_IO_KEY }}',
                source: 'snippet'
            };

            !function(e,r,a){if(!e.__Marker){e.__Marker={};var t=[],n={__cs:t};["show","hide","isVisible","capture","cancelCapture","unload","reload","isExtensionInstalled","setReporter","setCustomData","on","off"].forEach(function(e){n[e]=function(){var r=Array.prototype.slice.call(arguments);r.unshift(e),t.push(r)}}),e.Marker=n;var s=r.createElement("script");s.async=1,s.src="https://edge.marker.io/latest/shim.js";var i=r.getElementsByTagName("script")[0];i.parentNode.insertBefore(s,i)}}(window,document);
        </script>
    {% endif %}

    <script src="https://www.google.com/recaptcha/api.js?" async defer></script>

    <script src="/path/to/flickity.pkgd.min.js"></script>
</head>