<div class="container">

<div class="carousel" data-module="carousel">
    <div class="carousel__container" data-carousel>
        <div class="carousel-card">
            <div class="carousel-card__icon">
                {% include 'svg/icons/factory.svg' %}

            </div>

            <h2 class="text-primary  mb-2">Supporting the local economy</h2>
            <p class="fw-medium">Our proposals will also create a net additional impact of 1,300 person-years of employment, equivalent to roughly 370 jobs during the construction phase, as well as approximately 60 permanent jobs during operation and maintenance. This is in addition to the existing jobs required by our ERF facility and would see our Runcorn site increase its contribution to the local economy.</p>
        </div>

        <div class="carousel-card">


            <h2 class="text-primary  mb-2">Traffic and transport</h2>
            <p>We are undertaking traffic surveys and counts to understand the impact our proposals could have on traffic and transport in the local area. We expect there to be approximately 117 individual traffic movements per week associated with the construction of our project, but this number will drop once we move into operation.</p>
            <p>Our application to Halton Borough Council will include a Construction Traffic Management Plan (CTMP) which will detail how we plan to manage construction traffic, including delivery of Abnormal Indivisible Loads (AILs) to site, personnel travel, measures for road cleaning and sustainable site travel measures.</p>
        </div>


        <div class="carousel-card">
            <div class="carousel-card__icon">
                {% include 'svg/icons/landfill.svg' %}
            </div>

            <h2 class="text-primary  mb-2">Air quality impacts</h2>
            <p>The Environmental Permit for our plans for carbon capture at Runcorn is going through final stages of determination, and we expect it to be issued soon. The Environment Agency has determined that the air quality impacts associated with our proposals are acceptable.</p>
        </div>


        <div class="carousel-card">
            <div class="carousel-card__icon">
                {% include 'svg/icons/recycle-truck.svg' %}

            </div>

            <h2 class="text-primary  mb-2">Noise impacts</h2>
            <p>Extensive baseline noise surveys have been undertaken and the design process is underway, with noise a significant factor in that. The site is being designed so that the noise levels from the new carbon capture plant do not result in any increase in overall noise levels from the ERF. This commitment is in place following consultation with the Environment Agency.</p>
            <p>Additionally, noise from construction would be limited to between 7:30am – 6pm Monday to Friday and from 8:30am – 2pm on Saturdays.</p>
        </div>


 
    </div>
</div>
</div>

