<div class="{% if block.bgColour %}[ bg-{{ block.bgColour }}{{ '-opacity' if block.opacity }} ] {% endif %}{% if block.opacity %}[ bg-opacity-{{ block.opacity }} ] {% endif %}[ py-5 ]"{% if block.anchor %} id="{{ block.anchor[page.lang] }}"{% endif %}>
    <div class="[ container-xl ]">
        {% if block.title %}
            <h2 class="[ text-{{ block.textColour if block.textColour else 'primary' }} ] [ mb-3 mb-lg-5 ]">{{ block.title[page.lang] }}</h2>
        {% endif %}

        <table class="[ table table-striped ]">
            <thead>
                <tr>
                    {% for col in block.columns %}
                        <th class="[ bg-primary ] [ text-white ]" scope="col" width="{{ col.width }}">{{ col.title[page.lang] }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in block.rows %}
                    <tr>
                        {% for col in block.columns %}
                            <td>{{ row[loop.index - 1][page.lang] | safe }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if block.content %}
            <div class="[ wysiwyg ] [ text-primary ]">{{ block.content[page.lang] | safe }}</div>

        {% endif %}
    </div>
</div>
