<div class="{% if block.bgColour %}[ bg-{{ block.bgColour }}{{ '-opacity' if block.opacity }} ] {% endif %}{% if block.opacity %}[ bg-opacity-{{ block.opacity }} ] {% endif %}[ py-5 ]"{% if block.anchor %} id="{{ block.anchor[page.lang] }}"{% endif %}>
    <div class="[ container-xl ]">
        <div class="[ grid--1 {% if (block.image | length) or (block.contentInvert[page.lang] | length)  %}grid--lg-2{% endif %} ] [ gap-3 gap-lg-5 ]">
            <div class="{% if block.invert %}[ order-lg-2 ] {% endif %}[ mb-2 mb-lg-0 ] [ d-flex align-items-center ]">
                <div>
                    <h2 class="[ text-primary ]">{{ block.title[page.lang] }}</h2>

                    <div class="[ wysiwyg ] [ text-{{ block.textColour if block.textColour else 'black' }} ]">{{ block.content[page.lang] | safe }}</div>

                    {% if block.ctas | length %}
                        <div class="[ my-2 mt-lg-4 mb-lg-0 ] [ d-flex gap-3 flex-wrap ]">
                            {% for cta in block.ctas %}
                                {% set button = {
                                    title: cta.title[page.lang],
                                    url: cta.url[page.lang],
                                    external: cta.external,
                                    bgColour: cta.bgColour,
                                    outline: cta.outline
                                } %}

                                {% include "components/button.html" %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if block.contentInvert[page.lang] | length %}
            <div class="[ wysiwyg ] [ d-flex align-items-center ] {% if block.invert %}[ order-lg-1 ] [ mb-3 mb-lg-0 ] {% endif %}">
                <div class="[ wysiwyg ] [ text-{{ block.textColour if block.textColour else 'black' }} ]">{{ block.contentInvert[page.lang] | safe }}</div>
            </div>
            {% endif %}

            {% if block.image | length%}
            <div class="[ wysiwyg ] [ d-flex align-items-center ] {% if block.invert %}[ order-lg-1 ] [ mb-3 mb-lg-0 ] {% endif %}" {% if block.zoomable %} data-module="image-zoom"{% endif %}>
                <img src="{{ env.ASSETS_BASE_URL }}{{ block.image }}" alt="{{ block.title[page.lang] }}"  {% if block.zoomable %} data-zoomable="{{ block.image }}"{% endif %} />
            </div>
            {% endif %}
        </div>
    </div>
</div>