$brand-primary-colour: #322855;
$brand-secondary-colour: #FD9D2D;
$brand-background-colour: #F8F8F8;
$brand-tertiary-colour: transparent;
$brand-header-mode: light;
$brand-footer-mode: dark;
$brand-rounded: true;
$brand-font-family-primary: Proxima Nova;
$brand-font-source-primary: custom;
$brand-font-family-secondary: Anton;
$brand-font-source-secondary: google;
$brand-font-weight-light: 300;
$brand-font-weight-normal: 400;
$brand-font-weight-semibold: 600;
$brand-font-weight-bold: 700;
$brand-font-weight-heavy: 800;