// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;

@font-face { 
    font-family:"Gotham A"; 
    src: url('/assets/images/fonts/879604/6EAAC1B3746921421.eot'); 
    src: url('/assets/images/fonts/879604/6EAAC1B3746921421.eot?#hco') format('embedded-opentype'); 
    font-style:normal; 
    font-weight:200; 
} 
@font-face { 
    font-family:"Gotham 2r"; 
    src: url('/assets/images/fonts/879604/6EAAC1B3746921421.eot'); 
    src: url('/assets/images/fonts/879604/6EAAC1B3746921421.eot?#hco') format('embedded-opentype'); 
    font-style:normal; 
    font-weight:200; 
} 
@font-face { 
    font-family:"Gotham A"; 
    src: url('/assets/images/fonts/879604/BDA83819C7C1CEB8F.eot'); 
    src: url('/assets/images/fonts/879604/BDA83819C7C1CEB8F.eot?#hco') format('embedded-opentype'); 
    font-style:normal; 
    font-weight:400; 
} 
@font-face { 
    font-family:"Gotham 4r"; 
    src: url('/assets/images/fonts/879604/BDA83819C7C1CEB8F.eot'); 
    src: url('/assets/images/fonts/879604/BDA83819C7C1CEB8F.eot?#hco') format('embedded-opentype'); 
    font-style:normal; 
    font-weight:400; 
} 
@font-face { 
    font-family:"Gotham A"; 
    src: url('/assets/images/fonts/879604/051196E7A401FF0CF.eot'); 
    src: url('/assets/images/fonts/879604/051196E7A401FF0CF.eot?#hco') format('embedded-opentype'); 
    font-style:normal; 
    font-weight:700; 
} 
@font-face { 
    font-family:"Gotham 7r"; 
    src: url('/assets/images/fonts/879603/051196E7A401FF0CF.eot'); 
    src: url('/assets/images/fonts/879603/051196E7A401FF0CF.eot?#hco') format('embedded-opentype'); 
    font-style:normal; 
    font-weight:700; 
} 

$font-family-headings: '';

$font-family-sans-serif: "Gotham A", "Gotham B", 'Helvetica Neue', Helvetica, Arial, sans-serif;
